[submodule "pico-sdk"]
	path = pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
	branch = master
[submodule "openocd"]
	path = openocd
	url = https://github.com/raspberrypi/openocd.git
	branch = rp2040
[submodule "FreeRTOS-Kernel"]
	path = FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
	branch = smp
